<div class="row" *ngIf="member">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{member.photoUrl || '../../../../../assets/user.png'}}" alt="{{member.knownAs}}">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{member.createdOn}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>About {{member.knownAs}}</a>
        <ng-template ngbNavContent>
          <h4>Description</h4>
          <p>{{member.introduction}}</p>
          <h4>Looking For</h4>
          <p>{{member.lookingFor}}</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Interests</a>
        <ng-template ngbNavContent>
          <h4>{{member.interests}}</h4>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Photos</a>
        <ng-template ngbNavContent>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Messages</a>
        <ng-template ngbNavContent>
          <p>Messages Will Go here</p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </div>
</div>
